.header {
    display: flex;
    background-color: var(--mantine-color-body);
    border-bottom: 1px solid light-dark(var(--mantine-color-gray-3), var(--mantine-color-dark-4));
}

.inner {
    margin-left: 0;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.title {
    margin-left: 20px;
}
